/** Login Configuration for the JAAS Sample Application **/

ShibUserPassAuth {
relationalLogin.DBLogin required debug=true
dbDriver="com.mysql.jdbc.Driver"
userTable="User_"
userColumn="emailAddress"
passColumn="password_"
dbURL="jdbc:mysql://nibrs-mysql:3306/lportal"
dbUser="lportal"
dbPassword="lportal"
hashAlgorithm="SHA-256";
};
